<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <!-- <li><a href="https://www.creative-tim.com"><img src="./assets/img/house/CafeCantinho_Alojamento_Logo_sLink.png" alt="Logo" width="10%" height="10%"/></a></li> -->
                    <!-- <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li> -->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2024 Copyright Café Cantinho, Salão de jogos
                </span>
            </div>
        </div>
    </div>
</footer>
